
<div ng-repeat="(domain, brokers) in results">

<div class="row">
    <div class="col-md-12 text-center">
    <h2>{{domain}}</h2>
        </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="list-group" ng-repeat="broker in brokers">
            <a href="" ng-click="onBrokerSelect(broker)" class="list-group-item">
                <span class="badge">{{broker.statitics.numberOfTopics}}</span>
                <h4 class="list-group-item-heading">{{broker.ip}}</h4>
                <p class="list-group-item-text">{{broker.geolocation.city}},{{broker.geolocation.region}},{{broker.geolocation.country}}
                     </p>
            </a>

        </div>
        </div>
    </div>
    </div>
