<h2>Results for {{queryDomain}}</h2>

<div class="row">
    <div class="col-md-12">

        <div class="list-group" ng-repeat="information in results">
            <a href="" ng-click="onBrokerSelect(information)" class="list-group-item">
                <span class="badge">{{information.topics.length}}</span>
                <h4 class="list-group-item-heading">{{information.broker.ip}}</h4>
                <p class="list-group-item-text">{{information.broker.geolocation.country}},
                    {{information.broker.geolocation.region}} </p>
            </a>

        </div>
    </div>
    </div>
